/* ************* ESTRUTURA DO SITE ************* */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Trebuchet MS, Helvetica, sans-serif;
    background: #fff url(../imagens/fundo.png) repeat-x top;
}

#container {
    width: 750px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    background: url(../imagens/detalhe-topo.png) no-repeat right;
    padding-top: 25px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png)no-repeat center;
    text-indent: -3000px;
}

/* ************* BARRA DE NAVEGAÇÃO ************* */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.2em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(../imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil, 
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos {
    color: #fff;
    background: #de003e;
    cursor: text;
}

/* ************* CONFIGURAÇÃO DE LAYOUT DAS 3 COLUNAS ************* */
#conteudo {
    margin-top: 60px;
    background:#f5f5f5;    
}

#conteudoPrimario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px; 
}

#duasColunas #conteudoPrimario {
    width: 555px;
}

#umaColuna #conteudoPrimario {
    width: 750px;
    margin: 0 0 20px 0px;
}

#conteudoLateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px ;
}

#conteudoSecundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

/* ************* CAIXAS ************* */
.caixa {
    margin: 10px 0;
    padding: 5px;
    background: #f3f3f3 url(../imagens/fundo-caixa.png); 
}

h2 {
    font-size: 1.1em;
    background: #294c71;
    color: #FFF;
    padding: 5px;
}

.caixaConteudo {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

/* ************* FORMATAÇÃO DO MENU LATERAL ************* */
#conteudoLateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid#f3f3f3;
}

#conteudoLateral ul a:hover {
    /* Adiciona um marcador e move o texto para a direita em 20 pixel
    background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
    padding-left: 20px; */
    color: #a1a1a1;
}

/* ************* FORMATAÇÃO DO FORMULÁRIO ************* */
label {
    display: block;
    cursor: pointer;
}

input {
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: #fff;
    border: 1px solid #a1a1a1;
}

input.submit {
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
}

/* ************* FORMATANDO IMAGENS ************* */
img.imagemPrincipal {
    width: 98%;
    border: 3px solid #dfdfdf;
}

/* ************* FORMATANDO CABECALHOS ************* */
h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3 {
    background: #b10333;
    color: #fff;
}

.entrevista h3 {
    background: #b10333;
    color: #fff;
}

/* ************* FORAMTANDO RODAPÉ ************* */
#containerRodape {
    background: #294c71;
    padding: 20px;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: #fff;
}